<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <input type="button" value="Ingresar Categoria" onclick="location.href='./categoria'" />
        </div>

        <div>
            <input type="button" value="Ingresar Libro" onclick="location.href='./libro'" />
        </div>

        <div>
            <input type="button" value="Ver Libros" onclick="location.href='./listado'" />
        </div>
    </div>
    <div>
        <h3 th:text="${CategoriaI}"></h3>
    </div>
    <div>
        <h3 th:text="${LibroI}"></h3>
    </div>
</body>
</html>