<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        <thead>
            <th style="color: orange;">Titulo</th>
            <th style="color: orange;">Autor</th>
            <th style="color: orange;">ISBN</th>
            <th style="color: orange;">Categoria</th>
            <th style="color: orange;">Fecha de ingreso</th>
        </thead>
        <th:block th:each="libro, row: ${libros}">

            <tr>
                <th th:text="${libro.s_titulo}"></th>
                <th th:text="${libro.s_autor}"></th>
                <th th:text="${libro.s_isbn}"></th>
                <th th:text="${libro.categoria.s_categoria}"></th>
                <th th:text="${libro.f_ingreso}"></th>
            </tr>

        </th:block>

    </table>
    <br>
    <input type="button" value="Ver Libros" onclick="location.href='./index'" />
</body>

</html>